<div class="background">
    <div class="textocentral">
        <nav class="navbar navbar-light bg-dark">
            <h1 class="text-white" routerLink="/principal">Encryptor/Decryptor</h1>
            <app-auth-button></app-auth-button>
        </nav>
    </div>
    
    

    <div *ngIf="auth.user$ | async as user">
        {{this.appService.setUser(user.email)}}
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-lg-9">
                <h2 class="text-white"><br>Encryptor</h2>
                <form>
                    <div class="form-group">
                        <label for = "textArea1"><h4 class="text-white"><br>Original Text</h4></label>
                        <textarea class="form-control" id="textArea1" rows="8" placeholder="Enter Text Here." [(ngModel)]="originalText" [ngModelOptions]="{standalone:true}"></textarea>
                        <button type="submit" class="btn btn-dark mb-2" (click)="encryptingText()">Encrypt Text</button>
                    </div>
                    <div class="form-group">
                        <label for="textarea2"><h4 class="text-white"><br>Decrypted Text</h4></label>
                        <textarea  [(ngModel)]="encrypText" [ngModelOptions]="{standalone:true}" class="form-control" id="textarea2" rows="8" placeholder="Enter text here." ></textarea>
                        <button type="submit" class="btn btn-dark mb-2" (click)="decryptingText()">Decryp Text</button>
                    </div>
                </form>
            </div>
            
            <div class="col-md-auto">
                <h4 class="text-white"><br>Favorites</h4>
                <br>
                <br>
                <button type="submit" class="btn btn-dark mb-2" (click)="saveFavorite()">Save Text</button>|
                <button type="submit" class="btn btn-dark mb-2" (click)="deleteFavorite()">Delete Seleted</button>
                <ul><li class="list-group-item active">Example</li></ul>
                <ul class="list-group" *ngFor="let element of actualList">
                    <li class="list-group-item list-group.item.action list-group-item-dark" (click)="clickFavorite(element)">{{element}}</li>
                </ul>
                {{setActualUser()}}
            </div>

        </div>



    </div>

    





</div>