<div>
    <div class="textocentral">
        <nav class="navbar navbar-light bg-dark">
            <h1 class="text-white" routerLink="/principal">Encryptro/Decryptor</h1>
            <app-auth-button></app-auth-button>
        </nav>
    </div>
    
    

    <div *ngIf="auth.user$ | async as user">
        {{this.appService.setUser(user.email)}}
        
    </div>

    <div class="container">
        
        <ul *ngFor="let element of actualList">
            <li>{{element}}</li>
        </ul>

        {{setActualUser()}}
    </div>

    





</div>